@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">);

:root{
    --second-color: #ffffff;
    --bg: #e74475;
    --border: .1rem solid rgba(255,255,255.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #ffffff;
    border-radius: 5rem;
}

body{
    background-color: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.button{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}

.button:hover{
    letter-spacing: .2rem;
}

header{
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-radius: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100%;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #000000;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: 5rem;
}

.header .icons div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #000000;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-button{
    display: flex;
}

.header .search-forms{
    position: absolute;
    top: 115%; right: 7%;
    background: #000000;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scale(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: #000000;
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--bg);
}

.header .search-form label:hover{
    color: var(--main-color);
}

.header .cart-item-container{
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #000000;
    color: #000000;
    padding: 0 1.5rem;
}

.headeder .cart-item-container.active{
    right: 0;
}

.header .cart-item-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-item-container .cart-item .cart-tem-1.jfif{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--bg);
}

.header .cart-item-container .cart-item .cart-tem-1.jfif:hover{
    color: var(--main-color);
}

.header .cart-item-container .cart-item img{
    height: 7rem;
}

.header .cart-item-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--bg);
    padding-bottom: 5rem; 
}

.header .cart-item-container .cart-item .content price{
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-item-container .button{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("images/home.jpg");
    background-size: auto;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p{
    font-size: 2rem;
    font-size: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #ffffff;
}

.home .box-container .box:hover{
    background: #fff;
}

.home .box-container .box:hover > *{
    color: var(--bg);
}


.about .row{
    display: flex;
    align-items: center;
    background: var(--bg);
    flex-wrap: wrap;
}

.about .row img{
    flex: 1 1 45rem;
}

.about .row .img img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

.shop .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.shop .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.shop .box-container .box img{
    height: 10rem;
}

.shop .box-container .box h3{
    color: #db4684;
    font-size: 2rem;
    padding: 1rem 0;
}

.shop .box-container .box .price{
    color: #000000;
    font-size: 2.5rem;
    padding: 5rem 0;
}

.shop .box-container .box .price span{
    font-size: 2.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}
.shop img{
    flex: 1 1 21rem
}

.contact .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row .form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #ccc;
}

.contact .box-container .box:hover{
    background: #fff;
}

.contact .box-container .box:hover > *{
    color: var(--bg);
}

form label {
    display: flex;
    color: #ccc;
    margin-bottom: 10px;
    }
    
    form input[type="text"],
    form input[type="email"],
    form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    }
    
    form input[type="submit"] {
    background-color: #d6702c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    }
    
    form input[type="submit"]:hover {
    background-color: #e65c00;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social a{
        font-size: 27px;
        margin: 0.5rem;
    }
    .social a .bx{
        padding: 5px;
        color: #fff;
        background: #000000;
        border-radius: 50%;
    }
    .social a .bx:hover{
        background: var(--main-color);
    }
    .links{
        margin: 1rem 0 1rem;
    }
    .links a{
        font-size: 1rem;
        font-weight: 500;
        color: var(--second-color);
        padding: 1rem;
    }
    .links a:hover{
        color: var(--main-color);
    }
    .footer p{
        text-align: center;
    }


/*media queries*/
@media(max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
    
}

@media(max-width:768px){

    .menu-button{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%; right: 0;
        background: #000000;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media(max-width:450px){

    html{
        font-size: 50%;
    }

    .header{
        padding: 1.5rem 2rem;
    }
}